name: build

on:
  workflow_run:
    workflows: ["linters"]
    types:
      - completed

jobs:
  build-ubuntu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake ninja-build
        
    - name: Configure CMake
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=Release -G "Unix Makefiles"
          
    - name: Build
      run: |
        cmake --build build --config Release
        
    - name: Upload Ubuntu artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ubuntu-build
        path: build/

  build-windows:
    name: Build on Windows
    runs-on: windows-latest
    needs: build-ubuntu
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
          
    - name: Configure CMake
      run: |
        cmake -B build -G "Visual Studio 17 2022" -A x64
          
    - name: Build
      run: |
        cmake --build build --config Release -- /m
        
    - name: Upload Windows artifacts
      uses: actions/upload-artifact@v4
      with:
        name: windows-build
        path: build/

  build-macos:
    name: Build on macOS
    runs-on: macos-latest
    needs: build-windows
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install dependencies
      run: brew install cmake ninja
        
    - name: Configure CMake
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=Release -G "Unix Makefiles"
          
    - name: Build
      run: |
        cmake --build build --config Release
        
    - name: Upload macOS artifacts
      uses: actions/upload-artifact@v4
      with:
        name: macos-build
        path: build/
