name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  clang-format:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format-15
      - name: Download solution
        uses: actions/checkout@v3
      - name: Print clang-format version
        run: clang-format-15 --version
      - name: Run clang-format
        run: |
          $(find src tests -name '*.cpp' -o -name '*.hpp' -o -name '*.h' -o -name '*.c') | xargs clang-format-15 --dry-run -Werror -style=file
  clang-tidy:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-tidy-15
      - name: Download solution
        uses: actions/checkout@v3
      - name: Print clang-tidy version
        run: clang-tidy-15 --version
      - name: Run clang-tidy
        run: |
          $(find src tests -name '*.cpp' -o -name '*.c') | xargs clang-tidy-15 
